-e git+git@github.com:nprapps/authomatic.git@94abc06bbb163c1aac8b69ea65305918f1c937dd#egg=Authomatic-master
copytext==0.1.8
Fabric==1.4.3
Flask==0.9
google-api-python-client==1.4.2
gspread==0.3.0
gunicorn==19.1.1
Jinja2==2.7.3
peewee==2.8.0
slackbot==0.3.0
slacker==0.9.0
slimit==0.7.4
smartypants==1.8.6
Werkzeug==0.8.3

